html,body
  font-weight: 200
  font-family: "Microsoft YaHei"
.clearfix
  display: inline-block
  &:after
    display: block
    content: '.'
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
.split
  width 100vw
  height 16px
  border-top rgba(7,17,27,.1)
  border-bottom rgba(7,17,27,.1)
  background #f3f5f7

